<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>网盘分享 - 百度云盘群组分享，群组链接资源实时更新数据！</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="__PUBLIC__/index/css/amazeui.min.css">
    <link rel="stylesheet" href="http://bdwp.nowlm.com/tpl/js/skin/layer.css">
    <script src="__PUBLIC__/index/js/jquery.min.js"></script>
    <script src="__PUBLIC__/index/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/index/js/amazeui.lazyload.min.js"></script>
    <script src="__PUBLIC__/index/js/layer.min.js"></script>
</head>
<body>
<style>
    .am-g-fixed {
        max-width: 1200px;
    }

    a {
        color: #333333
    }

    .login-status {
        float: right;
        color: #333333;
        font-size: 14px;
        padding-top: 20px;
    }

    .login-status a {
        color: #333333;
    }

    #post-share-box {
        display: none;
    }
</style>
<style>
    footer a {
        color: #333;
    }

    .tj {
        display: none;
    }
</style>

<header class="am-topbar am-topbar-inverse" style="background:#FFF; border-bottom:1px solid #eee; height:65px;">
    <div class="am-container am-g-fixed">
        <h1 class="am-topbar-brand" style="margin-left:-10px;">
            <a href="/" class="am-text-ir"><img src="__PUBLIC__/index/images/logo.jpg" width="330" height="55"
                                                border="0">网盘分享 -
                百度云盘群组分享</a>
        </h1>
        <div class="login-status">
            <?php if(session('home_login_id')): ?>

            <a>欢迎你：<span style="color: red"><?= session('home_login_username') ?></span> </a>
            <a href="<?= U('user/logout') ?>" class="am-icon-sign-in"> 退出</a>
            <?php else: ?>
            <span style="padding-right:5px;"> 登录免费分享群组链接，马上只需1秒!  </span>
            <a target="_blank" href="<?= U('user/register') ?>" class="am-icon-sign-in"> 注册</a>
            <a target="_blank" href="<?= U('user/login') ?>" class="am-icon-sign-in"> 登录</a>
            <?php endif; ?>

        </div>
    </div>
</header>
<style>
    .tishi-i p{line-height:14px;padding-top:5px;font-size:12px; margin:0}
    .tishi-i i{font-style:normal;font-weight:bold;}
    .tishi-i .f-red{color:#f00;}
</style>
<div class="am-g am-g-fixed">
    <div class="am-u-sm-12" style="margin-top:-10px;">
        <div style="float:left; margin-top:5px;"><i class="am-icon-bar-chart"></i> 群组链接：<b><?= $count ?></b> 条，最后更新：<b><?=   date('Y-m-d H:i:s',$info['create_time']) ?></b></div>
        <div style="float:right; margin-bottom:10px;">
            <button type="button" id="add-share" class="am-btn am-btn-warning am-radius"><i
                    class="am-icon-share-alt-square"></i> 免费快速分享群组链接
            </button>
            <!--button type="button" onclick="location='/my/member'" class="am-btn am-btn-success am-radius"><i class="am-icon-vimeo"></i> 升级会员</button-->
        </div>
    </div>
    <div class="am-u-sm-12" id="post-share-box">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <h3 class="am-panel-title">免费快速分享百度云群组链接</h3>
            </div>
            <form class="am-form">
                <fieldset>
                    <div class="am-form-group" style="margin-top: 0px;">
                        <label for="doc-ta-1"
                               style="font-size:14px;">请在下面的输入框粘贴有效的百度云群组链接，可分享你自己创建或其它群的邀请链接</label><br/>
                        <label for="doc-ta-1"
                               style="font-size:14px;color:#f00;">声明：严禁分享存在违规内容的百度网盘群组链接，一经发现，一律删除！</label>
                        <textarea class="" rows="8" id="post-share-content"
                                  placeholder="请粘贴完整的百度群组链接，例如：https://pan.baidu.com/mbox/homepage?short=..."></textarea>
                    </div>

                    <p style="margin-bottom:-15px;">
                        <button type="button" id="post-share" class="am-btn am-btn-warning am-radius">提交分享</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-alert am-alert-secondary tishi-i">
            <p>温馨提示：因群组链接均是网友自行分享，且百度群组的加群有效时间较短。</p>
            <p>问题1：加入群组，提示 <span class="f-red">群组人数已满、该邀请链接失效、获取群组信息失败？</span></p>
            <p>解决1：请刷新网站首页，选择首页显示最新分享的群组链接点击跳转，多尝试几个。</p>
            <p>问题2：加入群组，提示 <i class="f-red">添加失败了，稍后重试一下？</i></p>
            <p>解决2：这种情况通常是因为百度网盘帐号被暂时限制了加群功能，请尝试<i class="f-red">更换浏览器、更换网络、注册一个全新的百度帐号并登录</i>。如还不能解决，请尝试使用电脑或请稍等6小时左右再尝试加群。</p>
            <p>问题3：加入群组，手机提示需要下载百度网盘APP？</p>
            <p>解决3：如你手机已安装百度网盘APP，无需再下载，请尝试更换浏览器、百度浏览器、UC浏览器、QQ浏览器、手机默认的浏览器。</p>

        </div>
    </div>

    <div class="am-u-sm-12">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd" style="border-bottom:none;">
                <h3 class="am-panel-title">最新百度云群组</h3>
            </div>
            <table class="am-table am-table-striped am-table-hover">
                <tbody>
                <?php foreach($data as $key=>$value): ?>
                <tr onclick="go('<?= $value["sl_id"] ?>')" style="cursor:pointer">
                    <td>
                        <div class="am-u-sm-12" style="margin-top:10px;">
                            <?php foreach($value['face'] as $face): ?>
                            <img class="lazy am-img-thumbnail am-radius" style="padding:2px; margin-right:3px;"
                                 data-original="<?= $face?>"
                                 width="30" height="30"/>
                            <?php endforeach; ?>
                        </div>
                    </td>
                    <td>
                        <?= $value['name'] ?> <span
                            class="am-badge am-badge-success am-radius"><?= $value['number'] ?></span><br/>
                        <span style="color:#999; font-size:12px;"><?= $value['link'] ?></span>
                        <span style="float:right;font-size:12px;"><span
                                style="color:#999;padding-right:10px;"><?= $value['username'] ?></span><span
                                class="am-badge am-badge-primary am-radius"><?= friend_date($value['create_time'])?></span></span>
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <div class="am-u-sm-12" style="line-height:22px; font-size:14px;">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-12">
                <p>
                    绿色框：<span class="am-badge am-badge-success am-radius">群组人数</span>
                    蓝色框：<span class="am-badge am-badge-primary am-radius">更新时间</span>
                    如打开百度云群组链接失效或添加失败，请尝试更换全新的百度帐号。</p>
                <p style="color:#f00;">提示：严禁分享存在违规内容的群组链接，一经发现，一律删除！</p>
                <p>如你发现或认为某网友分享的群组链接存在违规等内容，请向百度网盘官方网站进行举报。</p>
                <p>1：百度网盘违规举报：<a target="_blank"
                                 href="http://tousu.baidu.com/pan/add">http://tousu.baidu.com/pan/add</a></p>
                <p>2：百度网盘侵权举报：<a target="_blank" href="http://copyright.baidu.com/index.php/index/complaint">http://copyright.baidu.com/index.php/index/complaint</a>
                </p>
                <p>3：可联系本站客服邮箱：123@123.cc 提交举报信息，由本站向百度网盘官方提交举报信息，并删除屏蔽群组链接。</p>
            </div>
        </div>
    </div>
</div>

<footer class="am-margin-top">
    <hr/>
    <p class="am-text-center">
        <small>声明：本站百度云群组链接均由网友自行分享，不存储任何群组资源文件，全部链接均跳转至百度网盘。</small>
        </br>
        <small>Copyright ©2017 网盘分享 All Rights Reserved</small>
    </p>

</footer>

<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
        <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>

</div>
<div class="tj"></div>
<script>
    $(function () {
        $("img.lazy").lazyload({
            effect: "fadeIn"
        });
    });

    function go(short) {
        // window.open('?do=jump&short=' + short);
        window.open('<?= U("Home/share/jump/id") ?>' +'/'+ short);

    }
</script>

<script>
    $('#add-share').on('click', function () {
        $("#post-share-box").css('display', 'block');
    });
    $('#post-share').on('click', function () {
        var short = $.trim($("#post-share-content").val());

        if (short == '') {
            layer.alert('请输入链接', {icon: 0, title: '提示'}, function (index) {
                $("#post-share-content").focus(); // 获取焦点
                layer.close(index);
            });
            return false;
        }

        // ----以行转换成数组
        short = short.replace(/^\s*[\r\n]/gm, '');
        short = short.replace(/[ \t\r\f\v]/g, '');
        var shortArr = short.split('\n');
        // console.log(shortArr);
        //alert(shortArr)
        // ----以行转换成数组 --end

        $.ajax({
            type: "post",
            url: "<?= U('share/add') ?>",
            data: "short=" + shortArr,
            async: false,
            cache: false,
            dataType: "json",
            success: function (data) {
                if (data.status == 200) {
                    layer.alert(data.msg, {icon: 1, title: '提示'}, function (index) {
                        layer.close(index);
                        location.reload();
                    });
                    return false;
                } else {
                    layer.alert(data.msg, {icon: 1, title: '提示'}, function (index) {
                        layer.close(index);
                    });
                    return false;
                }
                if (data.status == 202) {
                    layer.confirm(data.msg, {icon: 0, title: '提示'}, function (index) {
                        window.location.href = "<?= U('user/login') ?>";
                        layer.close(index);
                    });
                }
            }
        });
    });
</script>
</body>
</html>