<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.8.0/jquery-1.8.0.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3 style="text-align: center">前台注册</h3>
            <form class="form-horizontal" action="<?= U('register') ?>" method="post">
                <div class="control-group">
                    <div class="controls">
                        <input name="username" type="text" class="form-control" required placeholder="请输入用户名"/>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                        <input name="password" type="password" class="form-control" required placeholder="请输入密码"/>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                        <input name="re_password" type="password" class="form-control" required placeholder="请输入确认密码"/>
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="注册" class="btn btn-block btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>